<%= render "categories/menu" %>
<div class="span9">
  <div class="page-header">
    <h1>Commande</h1>
  </div>
  <div class="row-fluid">
    <div class="btn-group pull-right">
      <p>
        <%= link_to "Passer commande", orders_pay_path, :class => "btn btn-primary" %>
      </p>
    </div>
    <h3>Total</h3>
  </div>
  <div class="row-fluid">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Nom</th>
        <th style="width: 10%;">Prix</th>
        <th style="width: 10%;">Quantit&eacute;</th>
        <th style="width: 1%;"></th>
      </tr>
      </thead>
      <tbody>

      <% @order.order_lines.each do |line| %>

      <tr>
        <td><%= line.dish.name %></td>
        <td><%= number_to_currency(line.dish.price_ht, :unit => "€", :format => "%n%u") %></td>
        <td><%= line.quantity %></td>
        <td>
          <div class="btn-group pull-center">
            <button class="btn btn-danger btn-mini dropdown-toggle" data-toggle="dropdown">Supprimer</button>
            <ul class="dropdown-menu">
              <li><%= link_to "Confirmer", orders_remove_line_path(:line_id => line) %></li>
              <li><a>Annuler</a></li>
            </ul>
          </div>
        </td>
      </tr>

      <% end %>

      </tbody>
    </table>
  </div>
</div>