<%= render "categories/menu" %>
<div class="span9">
  <div class="page-header">
    <h1><%= @category.name %></h1>
  </div>
  <div class="row-fluid">
    <ul class="thumbnails">
      <% @dishes.each_with_index do |dish, i| %>
          <% if i % 3 == 0 %>
              </ul>
              </div>
              <div class="row-fluid">
                <ul class="thumbnails">
          <% end %>
          <li class="span4">
            <div class="thumbnail">
              <img src="http://placehold.it/260x180" alt>
              <div class="caption">
                <h5><%= dish.name %></h5>
                <p><%= truncate dish.description, :length => 20, :separator => ' ' %></p>

                <h6>Prix HT <%= number_to_currency(dish.price_ht, :unit => "€", :format => "%n%u") %></h6>
                <h6>Prix TTC <%= number_to_currency(dish.price_ttc, :unit => "€", :format => "%n%u") %></h6>
                <p>
                  <%= link_to "Commander", orders_add_dish_path(:dish_id => dish), :class => "btn btn-primary" %>
                  <%= link_to "Détails", dish, :class => "btn" %>
                </p>
              </div>
            </div>
          </li>
      <% end %>
      </ul>
      </div>
</div>
