<div class="container-fluid" id="generalContainer">
  <div class="row-fluid dragndrop">
    <div class="span3 listDish">
      <fieldset style="height : 100%;">
        <legend>List dish</legend>
        <div class="dish_category">

          <% Category.all.each do |category| %>
              <h3 class="titleCategory">
                <%= link_to category.name, "#" %>
              </h3>

              <div class="contentAccordion">
                <ul class="list">
                  <% category.dishes.each do |dish| %>
                      <li id="<%= dish.id %>" class="itemDraggable"><%= dish.name %></li>
                  <% end %>
                </ul>
              </div>

          <% end %>
        </div>
      </fieldset>

    </div>
    <%= semantic_form_for [:admin, @menu] do |f| %>
        <div class="span9 rightColumnGeneral">
          <fieldset style="height : 97%;">
            <legend>
              New Menu
            </legend>

            <div id="newMenu" class="well">
              <fieldset>
                <legend>
                  <div id="titleDateBegin" class="control-group">
                    <%= f.input :title, :input_html => {:class=>"input-xlarge", :placeholder => "Name of your menu"}  %>
                    <div class="input-append date" id="datepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                      <%= f.input :begin_date, :as => :string %>
                      <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                  <input class="span2" id="dpmenu" size="16" type="text" value="08/06/2012">

                  </div>
                </legend>
              </fieldset>
              <ul class="newMenu"></ul>
            </div>
          </fieldset>
          <div class="form-actions">

            <%= hidden_field_tag 'listDishOfMenu' %>
            <%= f.submit :class => "btn btn-primary btn-large" %>

          </div>
        </div>
    <% end %>
  </div>
</div>